[Bb]uild*
[Dd]ist*
[Bb]in*

.eslintignore

dist
node_modules
container
security
src/ui/assets/*
coverage
commitlint.config.js

.github
.jest
.gitignore
.gitattributes

.editorConfig
.dockerignore
*.md

tsconfig.json
package-lock.json

.prettierrc

yarn.lock
